BODY {
	SCROLLBAR-FACE-COLOR: #8CA0FF; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #E6EAF2; SCROLLBAR-SHADOW-COLOR: #444444; SCROLLBAR-3DLIGHT-COLOR: #555555; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #444444; SCROLLBAR-DARKSHADOW-COLOR: #444444
}
FORM {
	MARGIN: 0px
}
A {
	FONT-WEIGHT: normal;
	FONT-SIZE: 14px;
	COLOR: #000000;
	FONT-STYLE: normal;
	TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #000000; FONT-STYLE: normal; TEXT-DECORATION: underline
}
TABLE {
	WORD-BREAK: break-all;
	width: 90%;
	margin-right: 20px;
	margin-left: 20px;
}
TD {
	FONT-SIZE: 13px; LINE-HEIGHT: 16px; FONT-FAMILY: "宋体"
}
.grayText {
	FILTER: Glow(Color=#F581A4, Strength=3)}
.tdspace6px {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}